.App {
  /* text-align: center; */
  padding: 0;
  margin: 0;
}

.homepage{
background-image: 'https://images.unsplash.com/photo-1515150144380-bca9f1650ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80';
}


.card-container {
  display: flex;
}

.card-container > * {
  width: 25%;
}

Button:focus {
  outline: none;
}

/* ----------------------------------------------------------FADE IN ANIMATION ---------------------------------------------------------- */

.fadeIn {
  animation-name: example;
  animation-duration: 1s;
}
/* Standard syntax */
@keyframes example {
  from {opacity: 0}
  to {opacity: 1}
}

/* ----------------------------------------------------------FADE OUT ANIMATION ---------------------------------------------------------- */

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
}
/* Standard syntax */
@keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}


/* ---------------------------------------------------------- FLICKER ANIMATION --------------------------------------------------------- */

@keyframes flickerAnimation {
  0%   { opacity:1; }
  25%  { opacity:0.3; }
  100% { opacity:1; }
}

.flicker {
   animation: flickerAnimation 2s infinite;
}

/* --------------------------------------------------------- ZOOM IN ANIMATION -------------------------------------------------------- */

@keyframes easeIn {
  0% { transform: scale(0.9); animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1) }
  100% { transform: scale(1.0) }
}

.easeIn {
  animation: ease-in;
  animation-name: easeIn;
  animation-duration: 0.5s;
}


* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: #fff;
}

button.learn-more {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.learn-more::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.learn-more:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}

.learn-more:hover::before {
  box-shadow: 0 0 0 2px #b18597;
  transform: translate3d(0, 0.5em, -1em);
}

.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
    
  }

  .learn-more:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
  }
  .learn-more:active::before {
    box-shadow: 0 0 0 2px #b18597;
    transform: translate3d(0, 0, -1em);
  }


.tableh1 {
  font-size:1.6em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
  margin-bottom: 1em;
}

.tableh2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

.tableh2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

#search {
  width: 70%;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left:2%;  
  min-width: 8em;
  background-color: #1F2739;
  color: #FB667A;
  font-size: 1.8rem;
  font-weight: 300;
  border: 2px solid #7F7C21;
}

#search:focus {
  -webkit-box-shadow: 0px 0px 30px 2px rgba(255, 249, 66, 0.425);
  -moz-box-shadow: 0px 0px 30px 2px rgba(255, 249, 66, 0.425);
  box-shadow: 0px 0px 30px 2px rgba(255, 249, 66, 0.425);
}

/* checkbox  */

.checkboxes {
  margin: 1.75em;
}

.checkbox-container {
  margin: 0 1.75em;
  font-size: 2rem;
}

.checkbox {
  height: 25px;
  width: 25px;
  margin: 1em;
  margin-top: 2em;
}


/* table container */

.table-container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

.linkImg {
  max-width: 30px;
}

.table-container li {
  margin: 0;
}

.table-container td, .table-container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
    padding-left:2%;  
    min-width: 8em;
}

/* Background-color of the odd rows */
.table-container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.table-container tr:nth-child(even) {
	  background-color: #2C3446;
}

.table-container th {
	  background-color: #1F2739;
}

.table-container td:first-child { color: #FB667A; }
/* 
.table-container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
} */

/* .table-container td:hover {
  background-color: rgba(251, 102, 122, 0.001);
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
} */

@media screen and (max-width: 600px) {
  
     
  
    table { border: 0; }
  
     
  
    table thead { display: none; }
  
     
  
    table tr {
  
      margin-bottom: 10px;
  
      display: block;
  
      border-bottom: 2px solid #ddd;
  
    }
  
     
  
    table td {
  
      display: block;
  
      text-align: right;
  
      font-size: 13px;
  
      border-bottom: 1px dotted #ccc;
  
    }
  
     
  
    table td:last-child { border-bottom: 0; }
  
     
  
    table td:before {
  
      content: attr(data-label);
  
      float: left;
  
      text-transform: uppercase;
  
      font-weight: bold;
  
    }
  
     
  
    }