body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* NAVBAR STYLING */
.nav-item {
  width: 60px
}
/* 
.nav-item>p {
  color: white;
} */

.navIcon {
  height: 30px
}

/* ================== */
/* plant details page */
/* ================== */

.plantdetails-header {
  display:flex;
  
}