.sunExposureReq {
  margin-right: 1em;
}

.plant-characteristic {
  text-align: center;
  align-self: center;
  justify-self: center;
}

.rounded-edges {
  border-radius: 20px;
}

.card-shadow {
  box-shadow: 1px 2px 10px 0 rgba(94,47,59,0.2);
}

.card-container {
  display: flex;
}

.card-container > * {
  width: 25%;
}

.plant-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 1001px) {
  .plant-card {
    width: 25%;
  }
}

@media (max-width: 1000px) {
  .plant-card {
    width: 40%;
  }
}


@media (max-width: 600px) {
  .plant-card {
    width: 90%;
  }
}